:root {
    --card-width: calc(33.33% - 20px);
    --card-width-mobile: calc(100% - 20px);
    --card-border-radius: 8px;
}

.content-category-container {
    margin: 30px 30px;
}

.category-title {
    padding: auto;
    font-size: 40px;
    color: white;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    width: var(--card-width);
    border-radius: var(--card-border-radius);
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-title-movie {
    font-size: 18px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: var(--card-border-radius);
}



@media screen and (max-width: 480px) {
    .card {
        width: var(--card-width-mobile);
        margin-bottom: 0; 
    }
    
    .cards-container {
        justify-content: center;
    }
}
